{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="Welcome">
                <h1><span>Welcome to Hello World</span></h1>
                App bundle test page
                Print was {{ result ? 'success' : 'failed' }}
            </div>
        </div>
    </div>

{% endblock %}
